export APP_DOMAIN={{YOUR DOMAIN NAME}}
export DOKKU_APP={{THE APP NAME ON DOKKU}}
export DOKKU_DB={{THE DATABASE NAME}}
export DOKKU_HOST={{THE MACHINE THAT IS RUNNING DOKKU}}
export HOST_IMAGES_PATH={{A DIRECTORY TO HOLD UPLOADS}}
